.display-settings ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.display-settings li {
  flex: 0 0 50%;
  margin-bottom: 1rem;
}

.display-settings span,
.display-settings label {
  min-width: 8rem;
  display: inline-block;
}

.display-settings select,
.display-settings input:not([type="checkbox"]) {
  width: 10rem;
}
